div.edit-module-wrapper
  div.edit-module
    h3 edit:
    form.form-module
      div
        div.info
          label(for="name-edit") name
          span.alert(data-alert="name-edit") field can't be empty
        input#name-edit(type="text", name="name-mod")
      div
        div.info
          label(for="link-edit") link
          span.alert(data-alert="link-edit") field can't be empty
        input#link-edit(type="text", name="link-mod")
      div
        div.info 
          label(for="tags-edit") tags
          span.alert(data-alert="tags-edit") field can't be empty
        input#tags-edit(type="text", name="tags-mod")
      div 
        label(for="id-edit") id
        input#id-edit(type="number", name="id-mod", disabled)
      div.btns-wrapper 
        button.save-edit-btn(type="button") save
        button.exit-btn(type="button") exit