html
  head
    link(rel="stylesheet", href="./css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  body
    include ./header.pug
    h3 links:
    div.links-container
    include ./edit_module.pug
    script(src="./js/links.js")