html
  head
    link(rel="stylesheet", href="./css/style.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
  body
    div.container
      header
        h1 Save your link
      h3 login:
      form.login-form(action="auth", method="POST")
        div
          div.info
            label(for="username") username
          input#username(type="text", name="username")
        div
          div.info
            label(for="password") password
          input#password(type="password", name="password")
        button.login-btn(type="submit") login